.home-page {
    padding: 2rem;
}

.class-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.class-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    border: 1px solid var(--linear-gray);
    border-radius: 10px;
    overflow: hidden;
    color: aliceblue;
}

.class-item-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.8rem;
    border-bottom: 1px solid var(--linear-gray);
    max-height: 100px;
    min-height: 100px;
}

.class-item-space{
    height: max-content;
}

.ih-wrapp {
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    margin-bottom: 0.2rem;
}

.class-item-footer {
    border-top: 1px solid var(--linear-gray);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: var(--alice-blue);
    border: 1px solid var(--linear-gray);
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--linear-gray);
}

