.nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid var(--linear-gray);
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 0.5rem;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.title {
    margin: 1rem;
}


.class-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0.5rem;
}

.nom{
    color: var(--outer-space);
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.section-bar {
    padding: 0 1.5rem 0 1.5rem;
    border-bottom: 1px solid var(--linear-gray);
}

.section-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    list-style-type: none; 
}

.section-link {
    display: flex;
    align-items: center;
    height: 3rem;
    text-decoration: none;
    font-size: 0.95rem;
    color: var(--outer-space);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}

.section-link:visited {
    color: var(--outer-space);
}

.section-option {
    padding: 0;
    cursor: pointer;
}

.section-option:hover {
    background-color: var(--ultragay-gray);
}

.section-option.selected {
    border-bottom: 3px solid var(--cobalt-blue);
}
.section-option.selected:hover {
    background-color: var(--gay-blue);
}


.section-option.selected .section-link {
    color: var(--cobalt-blue);
}

.log-out {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    color: var(--outer-space);
    gap: 0.5rem;
}

.log-out .btn-1 {
    width: 30%;
}

.join-class-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
}